

  <!-- <div class="login-page" >
   
      <mat-card class="mat-elevation-z12">
        <img class="tile-header" src="../../../assets/images/diems11.jpg">
       <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
       <mat-tab label="Welcome" >
         
           <mat-card-content>
             <form action="">
               <a  mat-button color="primary" class="login-button" [routerLink]= "['/login']" >  Student Login
               </a>
               <a mat-button color="primary" class="login-button" [routerLink]= "['/admin']">  Admin Login
               </a>
                <a mat-button color="primary" class="login-button" [routerLink]= "['/admin']"> Visitors Login
                </a> 
             </form>
           </mat-card-content>
       </mat-tab>  
     </mat-tab-group>
   </mat-card>
  
    
  </div>



 -->

   <!-- <router-outlet></router-outlet> -->

<!-- <router-outlet></router-outlet> -->
<div class="bg">

<div class="contain">
  <div class="wrapper">
    <div class="contacts">
      <img class="tile-header" src="../../../assets/images/clg.jpg">
      <h3>Our contacts</h3>

      <ul>
        <li>Deogiri Institute of Engineering And Management Studies</li>
        <li>Aurangabad</li>
        <li>dietms.org</li>
      </ul>
    </div>

    <div class="form">
      <img class="tile-header" src="../../../assets/images/diems11.jpg">
      <h2>Welcome</h2><hr>
      
      <form action="">
        <p class="full-width">
          <button [routerLink]= "['/login']">Student Login</button>
        </p>
        <p class="full-width">
          <button [routerLink]= "['/admin']">Admin Login</button>
        </p>
        <p class="full-width">
          <button [routerLink]= "['/admin']">Visitors Login</button>
        </p>
      </form>
    </div>
  </div>
</div>
</div>