<div>
    <mat-form-field>
    <input matInput [(ngModel)]="email" required>
    </mat-form-field>
    <!-- <button mat-raised-button (click)="resetPassword()" color="accent">Reset Password</button> -->
</div>

<form [formGroup]="frmPasswordReset" (submit)="sendPasswordResetRequest()">
    <div class="field has-text-left">
      <label class="label">Email Address: </label>
      <div class="control has-icons-left">
       <input formControlName="email" class="input is-focused" type="email">
        <span class="icon is-small is-left">
         <!--<fa-icon [icon]="faEnvelope"></fa-icon>--> 
        </span>
      </div>
  
      <div class="has-text-danger">
        Email is required!
      </div>
  
      <div class="has-text-danger" >
        A valid email is required!
      </div>
    </div>
  
    <div class="field">
      <button [disabled]="frmPasswordReset.invalid" class="button is-block is-primary has-text-white is-fullwidth ">
         <!--<fa-icon [icon]="faSigninIcon"></fa-icon>-->
        Send Request
      </button>
      
      <button [disabled]="frmPasswordReset.invalid" class="button is-block is-primary has-text-white is-fullwidth " routerLink="/login">
        <!--<fa-icon [icon]="faSigninIcon"></fa-icon>-->
       Back To Login
     </button>
    </div>
  </form>

<ng-container [ngSwitch]="'action'">
    <!-- password reset -->
    <ng-container *ngSwitchCase="'resetPassword'">
      <app-confirm-password-reset></app-confirm-password-reset>
    </ng-container>
  
    <!-- verify email address -->
    <ng-container *ngSwitchCase="'verifyEmail'">
      <app-confirm-email-address></app-confirm-email-address>
    </ng-container>
  
    <!-- default action -->
    <ng-container *ngSwitchDefault>
      <!--show an error message -->
    </ng-container>
  </ng-container>