/* .login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url('../../../assets/images/clg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  /* filter: blur(8px); 
}

.text-danger {
  margin: 0;
  position: absolute;
  top: 50%; 
  bottom: 10%;
  right: 65%;
  left: 15%;
  }

.forget{
  margin: 0;
  position: absolute;
  top: 50%;
  bottom: 7%;
  left: 60%;
}

.centerss {
  margin: 0;
  position: absolute;
  top: 50%;
  bottom: 5%;
  right: 65%;
  }

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  bottom: 3%;
  left: 60%;
  }

.centers {
  margin: 0;
  position: absolute;
  top: 45%;
  bottom: 2%;
  left: 40%;
  }

.centerr {
  margin: 0;
  position: absolute;
  top: 45%;
   bottom: 3%;
  left: 40%;
  }



mat-card {
  width: 30%;
  height: 65%;
  margin: 10% auto;
  border-radius: 8px;
}
mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}

.tile-header {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  height: 12rem;
} */

.centerr {
  margin: 0;
  position: absolute;
  top: 45%;
   bottom: 3%;
  left: 40%;
  }
  .login-button {
    margin-top: 20px;
    display: block;
    width: 80%;
    margin: 20px auto;
  }

* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

.contain {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
@media (min-width: 600px) {
  .contain {
    padding: 10;
  }
}

h3,
ul {
  margin: 0;
}

h3 {
  margin-bottom: 1rem;
}

input:focus,
textarea:focus {
  outline: 3px solid;
}

input,
textarea,
button {
  width: 100%;
  border: 1px solid #000;
}

.wrapper {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.wrapper > * {
  padding: 1em;
}
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding: 2em 2em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.contacts {
  background: #78c2ff;
  color: #fff;
  width: 100%;
  height: 100%;
}

.form {
  background-color: #e5f2fd;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
form label {
  display: block;
}
form p {
  margin: 0;
}

.full-width {
  grid-column: 1 / 3;
}

button,
input,
textarea {
  padding: 1em;
}

button {
  background: #78c2ff;
  width: 65%;
  height: 70%;
  border: 0;
}
button:hover, button:focus {
  background: rgb(189, 189, 188);
  outline: 0;
}

.bg {
/* The image used */
background-image: url("../../../assets/images/clg.jpg");
margin-right: 0px;
margin-left: 0px;
padding-bottom: 19.2%;
background-position: 50% 50%;
/* Full height */
/* height: 100%; */
/* Center and scale the image nicely */
/* background-position: center; */
 background-repeat: no-repeat; 
background-size: cover;
}
