.login-page {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('../../../assets/images/clg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /* filter: blur(8px); */
  }
  
  .text-danger {
    margin: 0;
    position: absolute;
    /* top: 50%; */
    bottom: 10%;
    /* right: 65%; */
    left: 15%;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
  }
  
  
  .center {
    margin: 0;
    position: absolute;
    /* top: 50%; */
    bottom: 4%;
    left: 65%;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
  }
  
  .centerss {
    margin: 0;
    position: absolute;
    /* top: 50%; */
    bottom: 4%;
    right: 65%;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
  }
  .centers {
    margin: 0;
    position: absolute;
    top: 45%;
    /* bottom: 2%; */
    left: 40%;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
  }
  
  .centerr {
    margin: 0;
    position: absolute;
    /* top: 45%; */
     bottom: 2%;
    left: 40%;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
  }
  
  
  
  mat-card {
    width: 30%;
    height: 65%;
    margin: 10% auto;
    border-radius: 8px;
  }
  mat-form-field, mat-checkbox {
    width: 80%;
    display: block;
    margin: auto;
  }
  mat-card-content {
    margin-top: 20px;
  }
  
  .login-button {
    margin-top: 20px;
    display: block;
    width: 80%;
    margin: 20px auto;
  }
  
  .tile-header {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    height: 12rem;
  }